<!DOCTYPE html>
<html>
  <head>
    <title>All of my skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/expresss">My skills</a>
  </body>
</html>
